# Ignore the raw dataset files.
**/data/coco/annotations
**/data/coco/train2017
**/data/coco/val2017
**/data/vg/VG_100K
**.pkl
**.pth
**.pt
**.json
**.zip
**.txt

# Ignore cache files.
**/__pycache__
**/.vector_cache

# Ignore the raw outputs of the training process.
**/outputs
**.out

# Ignore wandb files.
**/wandb

# Ignore Lisa job files.
**.job

# Ignore random test files.
**test.py
